.catalog{
    flex: 1;
    height: 48px;
    display: flex;
    position: relative;
    padding: 8px;
    gap: 10px;
    flex-direction: column;
    max-width: 200px ;
}
.catalog_item{
    height: 100%;
    display: block;
    padding: 0 18px;
    transition: background .2s ease;
    line-height: 48px;
    border-radius: 16px;
    cursor: pointer;
    background-color:white;
}