.basketList{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
}

.total_sum {
    margin-top: 10px;
}
.basketElements{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 600px;
    overflow-y: auto;
}
